<% if @modules.count == 0 %>
  <div class="alert alert-warning" role="alert">
    No modules for you yet.
  </div>
<% end %>

<div class="card-column">
  <% @modules.each do |mod| %>
    <div class="card mb-3">
      <h3 class="card-header bg-success module-title">
        <%= link_to mod.title, bootcamp_module_path(mod.id) %>
        <i class="fa fa-circle-o-notch fa-spin loading" id="loading-<%= mod.id %>"></i>
      </h3>
      <div class="card-block">
        <figure class="bg-faded p-3 rounded log" id="log-<%= mod.id %>"></figure>

        <div class="card-text">
          <% if mod.description %>
            <%= raw mod.description.lines.first %>
          <% else %>
            <p>No description here yet.</p>
          <% end %>
        </div>

        <div class="text-center">
          <hr>
          <small>
            <a href="<%= mod.repo %>" target="_blank" class="text-muted"><%= mod.repo %></a>
          </small>
        </div>

      </div>
    </div>
  <% end %>
</div>
